In [1]:
import os
new_directory = "D:/Python_Scripts/DataViz_JS_Python"  # Replace with your desired path
os.chdir(new_directory)

CSV

In [2]:
nobel_winners = [
    {'category':'Physics',
     'name':'Albert Einstein',
     'nationality':'Swiss',
     'sex':'male',
     'year':1921},
    {'category':'Physics',
     'name':'Paul Dirac',
     'nationality':'British',
     'sex':'male',
     'year':1933},
    {'category':'Chemistry',
     'name':'Marie Curie',
     'nationality':'Polish',
     'sex':'female',
     'year':1911}
]

In [3]:
f = open('data/nobel_winners.csv','w')

In [4]:
cols = sorted(nobel_winners[0].keys())
cols

['category', 'name', 'nationality', 'sex', 'year']

In [5]:
with open('data/nobel_winners.csv','w') as f:
    f.write(','.join(cols)+'\n')
    for o in nobel_winners: 
        row = [str(o[col]) for col in cols]
        f.write(','.join(row) + '\n')

In [6]:
with open('data/nobel_winners.csv') as f:
    for line in f.readlines():
        print(line)

category,name,nationality,sex,year

Physics,Albert Einstein,Swiss,male,1921

Physics,Paul Dirac,British,male,1933

Chemistry,Marie Curie,Polish,female,1911

In [7]:
import csv

In [8]:
#using DictWriter to write csv file
#open('data/nobel_winners.csv','wb') would expect byte-like objects
with open('data/nobel_winners.csv','w',
          newline='', encoding='utf-8') as f: #avoid extra empty lines
    fieldnames = sorted(nobel_winners[0].keys())
    writer = csv.DictWriter(f,fieldnames=fieldnames)
    writer.writeheader()
    for w in nobel_winners:
        writer.writerow(w)

In [9]:
with open('data/nobel_winners.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row) #numbers read in string form

['category', 'name', 'nationality', 'sex', 'year']
['Physics', 'Albert Einstein', 'Swiss', 'male', '1921']
['Physics', 'Paul Dirac', 'British', 'male', '1933']
['Chemistry', 'Marie Curie', 'Polish', 'female', '1911']

In [10]:
#read in rows as dictionary for easier data processing
with open('data/nobel_winners.csv') as f:
    reader = csv.DictReader(f)
    nobel_winners = list(reader)

nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': '1921'},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': '1933'},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': '1911'}]

In [11]:
for w in nobel_winners:
    w['year'] = int(w['year'])

JSON

In [12]:
import json

In [13]:
with open('data/nobel_winners.json','w') as f:
    json.dump(nobel_winners,f)

In [14]:
open('data/nobel_winners.json').read()

'[{"category": "Physics", "name": "Albert Einstein", "nationality": "Swiss", "sex": "male", "year": 1921}, {"category": "Physics", "name": "Paul Dirac", "nationality": "British", "sex": "male", "year": 1933}, {"category": "Chemistry", "name": "Marie Curie", "nationality": "Polish", "sex": "female", "year": 1911}]'

In [15]:
with open('data/nobel_winners.json') as f:
    nobel_winners = json.load(f) #data property preserved
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911}]

In [16]:
#date and times in json
from datetime import datetime
#json.dumps(datetime.now()) #this will produce type error

In [17]:
#encoding datetime to JSON
import datetime
from dateutil import parser

class JSONDateTimeEncoder(json.JSONEncoder): #to create customized date-handling
    def default(self,obj):
        if isinstance(obj, (datetime.date,datetime.time)):
            return obj.isoformat()
        else:
            return json.JSONEncoder.defult(self,obj)
def dumps(obj):
    return json.dumps(obj,cls=JSONDateTimeEncoder)

In [18]:
now_str = dumps({'time':datetime.datetime.now()})
now_str

'{"time": "2024-12-18T10:58:07.173991"}'

In [19]:
time_str = '2012/01/01 12:32:11'
dt = datetime.datetime.strptime(time_str, '%Y/%m/%d %H:%M:%S')
dt

datetime.datetime(2012, 1, 1, 12, 32, 11)

In [20]:
#usual practice in code
'''
for d in data:
    try:
        d['date'] = datetim.strptime(d['date'],'%Y/%m/%d %H:%M:%S')
    except ValueError:
    print('Oops! -invalid date for ' + repr(d))
'''

"\nfor d in data:\n    try:\n        d['date'] = datetim.strptime(d['date'],'%Y/%m/%d %H:%M:%S')\n    except ValueError:\n    print('Oops! -invalid date for ' + repr(d))\n"

SQL

In [21]:
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911}]

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('sqlite:///data/nobel_prize.db',echo=True)

In [24]:
from sqlalchemy.orm import declarative_base

In [25]:
Base = declarative_base()

In [26]:
#defining an SQL database table
from sqlalchemy import Column, Integer, String, Enum
class Winner(Base):
    __tablename__ = 'winners'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    category = Column(String)
    year = Column(Integer)
    nationality = Column(String)
    sex = Column(Enum('male','female'))

    def __repr__(self):
        return "<Winner(name='%s', category='%s', year='%s')>" \
        %(self.name, self.category, self.year)

In [27]:
Base.metadata.create_all(engine)

2024-12-18 10:58:07,396 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-18 10:58:07,397 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("winners")
2024-12-18 10:58:07,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-12-18 10:58:07,416 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
#adding instances with a session
from sqlalchemy.orm import sessionmaker

Session =sessionmaker(bind=engine)
session = Session()

In [29]:
albert = Winner(**nobel_winners[0])
# ** unpack the valune in to key-value pairs
albert

In [30]:
session.add(albert)
session.new

IdentitySet([<Winner(name='Albert Einstein', category='Physics', year='1921')>])

In [31]:
#remove object
session.expunge(albert)
session.new

IdentitySet([])

In [32]:
winner_rows = [Winner(**w) for w in nobel_winners]
session.add_all(winner_rows)
session.commit()

2024-12-18 10:58:07,460 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-18 10:58:07,463 INFO sqlalchemy.engine.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2024-12-18 10:58:07,463 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ('Albert Einstein', 'Physics', 1921, 'Swiss', 'male')
2024-12-18 10:58:07,464 INFO sqlalchemy.engine.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2024-12-18 10:58:07,465 INFO sqlalchemy.engine.Engine [cached since 0.002158s ago] ('Paul Dirac', 'Physics', 1933, 'British', 'male')
2024-12-18 10:58:07,466 INFO sqlalchemy.engine.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2024-12-18 10:58:07,467 INFO sqlalchemy.engine.Engine [cached since 0.003806s ago] ('Marie Curie', 'Chemistry', 1911, 'Polish', 'female')
2024-12-18 10:58:07,468 INFO sqlalchemy.engine.Engine COMMIT

In [33]:
session.query(Winner).count()

2024-12-18 10:58:07,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-18 10:58:07,489 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners) AS anon_1
2024-12-18 10:58:07,490 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ()

9

In [34]:
result = session.query(Winner).filter_by(nationality='Swiss')
list(result)

2024-12-18 10:58:07,498 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.nationality = ?
2024-12-18 10:58:07,499 INFO sqlalchemy.engine.Engine [generated in 0.00117s] ('Swiss',)

[<Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>]

In [35]:
result = session.query(Winner).filter(Winner.category == 'Physics', Winner.nationality != 'Swiss')
list(result)

2024-12-18 10:58:07,508 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.category = ? AND winners.nationality != ?
2024-12-18 10:58:07,509 INFO sqlalchemy.engine.Engine [generated in 0.00106s] ('Physics', 'Swiss')

[<Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>]

In [36]:
session.query(Winner).get(3)

2024-12-18 10:58:07,518 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2024-12-18 10:58:07,519 INFO sqlalchemy.engine.Engine [generated in 0.00077s] (3,)

C:\Users\Jasmine\AppData\Local\Temp\ipykernel_26260\678933525.py:1: LegacyAPIWarning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  session.query(Winner).get(3)

In [37]:
res = session.query(Winner).order_by('year')
list(res)

2024-12-18 10:58:07,526 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners ORDER BY winners.year
2024-12-18 10:58:07,528 INFO sqlalchemy.engine.Engine [generated in 0.00117s] ()

[<Winner(name='Marie Curie', category='Chemistry', year='1911')>,
 <Winner(name='Marie Curie', category='Chemistry', year='1911')>,
 <Winner(name='Marie Curie', category='Chemistry', year='1911')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>]

In [38]:
#convert an SQLAlchemy instance to dict
def inst_to_dict(inst,delete_id=True):
    dat={}
    for column in inst.__table__.columns:
        dat[column.name] = getattr(inst,column.name)
    if delete_id:
            dat.pop('id')
    return dat

In [39]:
winner_rows = session.query(Winner)
nobel_winners = [inst_to_dict(w) for w in winner_rows]
nobel_winners

2024-12-18 10:58:07,546 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
2024-12-18 10:58:07,547 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ()

[{'name': 'Albert Einstein',
  'category': 'Physics',
  'year': 1921,
  'nationality': 'Swiss',
  'sex': 'male'},
 {'name': 'Paul Dirac',
  'category': 'Physics',
  'year': 1933,
  'nationality': 'British',
  'sex': 'male'},
 {'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'},
 {'name': 'Albert Einstein',
  'category': 'Physics',
  'year': 1921,
  'nationality': 'Swiss',
  'sex': 'male'},
 {'name': 'Paul Dirac',
  'category': 'Physics',
  'year': 1933,
  'nationality': 'British',
  'sex': 'male'},
 {'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'},
 {'name': 'Albert Einstein',
  'category': 'Physics',
  'year': 1921,
  'nationality': 'Swiss',
  'sex': 'male'},
 {'name': 'Paul Dirac',
  'category': 'Physics',
  'year': 1933,
  'nationality': 'British',
  'sex': 'male'},
 {'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'}]

In [40]:
#update database rows
marie = session.query(Winner).get(3)
marie.nationality = 'French'
session.dirty #dirty shows any changed instance not committed yet

IdentitySet([<Winner(name='Marie Curie', category='Chemistry', year='1911')>])

In [41]:
session.commit()

2024-12-18 10:58:07,564 INFO sqlalchemy.engine.Engine UPDATE winners SET nationality=? WHERE winners.id = ?
2024-12-18 10:58:07,565 INFO sqlalchemy.engine.Engine [generated in 0.00096s] ('French', 3)
2024-12-18 10:58:07,566 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
session.dirty

IdentitySet([])

In [43]:
session.query(Winner).get(3).nationality

2024-12-18 10:58:07,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-18 10:58:07,595 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2024-12-18 10:58:07,597 INFO sqlalchemy.engine.Engine [generated in 0.00117s] (3,)

'French'

In [44]:
#session.query(Winner).filter_by(name='Albert Einstein').delete()

In [45]:
#list(session.query(Winner))

In [46]:
session.close()  # Closes the session
engine.dispose()

2024-12-18 10:58:07,619 INFO sqlalchemy.engine.Engine ROLLBACK

In [47]:
#drop table
#Winner.__table__.drop(engine)

In [48]:
import dataset
db = dataset.connect('sqlite:///data/nobel_prize.db')

In [49]:
wtable=db['winners']
winners = wtable.find()
winners = list(winners)
winners

[OrderedDict([('id', 1),
              ('name', 'Albert Einstein'),
              ('category', 'Physics'),
              ('year', 1921),
              ('nationality', 'Swiss'),
              ('sex', 'male')]),
 OrderedDict([('id', 2),
              ('name', 'Paul Dirac'),
              ('category', 'Physics'),
              ('year', 1933),
              ('nationality', 'British'),
              ('sex', 'male')]),
 OrderedDict([('id', 3),
              ('name', 'Marie Curie'),
              ('category', 'Chemistry'),
              ('year', 1911),
              ('nationality', 'French'),
              ('sex', 'female')]),
 OrderedDict([('id', 4),
              ('name', 'Albert Einstein'),
              ('category', 'Physics'),
              ('year', 1921),
              ('nationality', 'Swiss'),
              ('sex', 'male')]),
 OrderedDict([('id', 5),
              ('name', 'Paul Dirac'),
              ('category', 'Physics'),
              ('year', 1933),
              ('nationality', 'British'),
              ('sex', 'male')]),
 OrderedDict([('id', 6),
              ('name', 'Marie Curie'),
              ('category', 'Chemistry'),
              ('year', 1911),
              ('nationality', 'Polish'),
              ('sex', 'female')]),
 OrderedDict([('id', 7),
              ('name', 'Albert Einstein'),
              ('category', 'Physics'),
              ('year', 1921),
              ('nationality', 'Swiss'),
              ('sex', 'male')]),
 OrderedDict([('id', 8),
              ('name', 'Paul Dirac'),
              ('category', 'Physics'),
              ('year', 1933),
              ('nationality', 'British'),
              ('sex', 'male')]),
 OrderedDict([('id', 9),
              ('name', 'Marie Curie'),
              ('category', 'Chemistry'),
              ('year', 1911),
              ('nationality', 'Polish'),
              ('sex', 'female')])]

In [50]:
#recreate winners table
wtable = db['winners']
wtable.drop()

In [51]:
wtable = db['winners']
list(wtable.find())

[]

In [52]:
with db as tx:
    for w in nobel_winners:
        tx['winners'].insert(w)

D:\Anaconda\envs\DataViz_JS_Python\Lib\site-packages\dataset\table.py:313: RuntimeWarning: Changing the database schema inside a transaction in a multi-threaded environment is likely to lead to race conditions and synchronization issues.
  warnings.warn(

In [53]:
list(db['winners'].find())

[OrderedDict([('id', 1),
              ('name', 'Albert Einstein'),
              ('category', 'Physics'),
              ('year', 1921),
              ('nationality', 'Swiss'),
              ('sex', 'male')]),
 OrderedDict([('id', 2),
              ('name', 'Paul Dirac'),
              ('category', 'Physics'),
              ('year', 1933),
              ('nationality', 'British'),
              ('sex', 'male')]),
 OrderedDict([('id', 3),
              ('name', 'Marie Curie'),
              ('category', 'Chemistry'),
              ('year', 1911),
              ('nationality', 'Polish'),
              ('sex', 'female')]),
 OrderedDict([('id', 4),
              ('name', 'Albert Einstein'),
              ('category', 'Physics'),
              ('year', 1921),
              ('nationality', 'Swiss'),
              ('sex', 'male')]),
 OrderedDict([('id', 5),
              ('name', 'Paul Dirac'),
              ('category', 'Physics'),
              ('year', 1933),
              ('nationality', 'British'),
              ('sex', 'male')]),
 OrderedDict([('id', 6),
              ('name', 'Marie Curie'),
              ('category', 'Chemistry'),
              ('year', 1911),
              ('nationality', 'Polish'),
              ('sex', 'female')]),
 OrderedDict([('id', 7),
              ('name', 'Albert Einstein'),
              ('category', 'Physics'),
              ('year', 1921),
              ('nationality', 'Swiss'),
              ('sex', 'male')]),
 OrderedDict([('id', 8),
              ('name', 'Paul Dirac'),
              ('category', 'Physics'),
              ('year', 1933),
              ('nationality', 'British'),
              ('sex', 'male')]),
 OrderedDict([('id', 9),
              ('name', 'Marie Curie'),
              ('category', 'Chemistry'),
              ('year', 1911),
              ('nationality', 'Polish'),
              ('sex', 'female')])]

In [54]:
from datafreeze import freeze

winners = db['winners'].find()
freeze(winners,format = 'csv',
    filename='data/nobel_winners_ds.csv')

In [55]:
open('data/nobel_winners_ds.csv').read()

'id,name,category,year,nationality,sex\n1,Albert Einstein,Physics,1921,Swiss,male\n2,Paul Dirac,Physics,1933,British,male\n3,Marie Curie,Chemistry,1911,Polish,female\n4,Albert Einstein,Physics,1921,Swiss,male\n5,Paul Dirac,Physics,1933,British,male\n6,Marie Curie,Chemistry,1911,Polish,female\n7,Albert Einstein,Physics,1921,Swiss,male\n8,Paul Dirac,Physics,1933,British,male\n9,Marie Curie,Chemistry,1911,Polish,female\n'

Work with MongoDB

In [56]:
from pymongo import MongoClient

In [57]:
client = MongoClient()
db = client.nobel_prize
coll = db.winners #if exist, retrieve it, otherwise create it

In [58]:
db = client.nobel_prize
db = client['nobel_prize']

In [59]:
DB_NOBEL_PRIZE = 'nobel_prize'
COLL_WINNERS = 'winners'

db = client[DB_NOBEL_PRIZE]
coll = db[COLL_WINNERS]

In [60]:
#accessing MongoDB database
def get_mongo_database(db_name,host='localhost',
                       port=27017,username=None, password=None):
    '''get named database from MongoDB w/o authentication'''
    #make Mongo connection w/o authentication
    if username and password:
        #URI: uniform resource identifier)
        mongo_uri = 'mongodb://%s:%s@%s/%S'%(username, password,host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host,port)
    return conn[db_name]

In [61]:
#create database and add target dataset
db = get_mongo_database(DB_NOBEL_PRIZE)
coll = db[COLL_WINNERS]

In [62]:
coll.insert_many(nobel_winners)

InsertManyResult([ObjectId('67623a40fa743ea7368d3a76'), ObjectId('67623a40fa743ea7368d3a77'), ObjectId('67623a40fa743ea7368d3a78'), ObjectId('67623a40fa743ea7368d3a79'), ObjectId('67623a40fa743ea7368d3a7a'), ObjectId('67623a40fa743ea7368d3a7b'), ObjectId('67623a40fa743ea7368d3a7c'), ObjectId('67623a40fa743ea7368d3a7d'), ObjectId('67623a40fa743ea7368d3a7e')], acknowledged=True)

In [68]:
#remove duplicates
pipeline = [
    {
        "$group": {
            "_id": {
                "name": "$name",
                "category": "$category",
                "year": "$year",
                "nationality": "$nationality",
                "sex": "$sex"
            },
            "ids": {"$push": "$_id"},
            "count": {"$sum": 1}
        }
    },
    {"$match": {"count": {"$gt": 1}}}
]

# Find duplicates
duplicates = list(coll.aggregate(pipeline))

# Remove duplicates
for group in duplicates:
    ids = group["ids"]
    coll.delete_many({"_id": {"$in": ids[1:]}})

print("Duplicate records removed.")

Duplicate records removed.

In [72]:
# Fetch all documents
all_docs = list(coll.find())

# Print each document
for doc in all_docs:
    print(doc)

{'_id': ObjectId('6762397502c3bc628a4205ce'), 'name': 'Albert Einstein', 'category': 'Physics', 'year': 1921, 'nationality': 'Swiss', 'sex': 'male'}
{'_id': ObjectId('6762397502c3bc628a4205cf'), 'name': 'Paul Dirac', 'category': 'Physics', 'year': 1933, 'nationality': 'British', 'sex': 'male'}
{'_id': ObjectId('6762397502c3bc628a4205d0'), 'name': 'Marie Curie', 'category': 'Chemistry', 'year': 1911, 'nationality': 'Polish', 'sex': 'female'}

In [64]:
#use of Object ID
import bson
oid = bson.ObjectId()
oid.generation_time

datetime.datetime(2024, 12, 18, 2, 58, 8, tzinfo=FixedOffset(datetime.timedelta(0), 'UTC'))

In [71]:
#find items in the table
res = coll.find({'category':'Chemistry'})
list(res)

[{'_id': ObjectId('6762397502c3bc628a4205d0'),
  'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'}]

In [73]:
res = coll.find({'$or':[{'year':{'$gt':1930}},{'sex':'female'}]})
list(res)

[{'_id': ObjectId('6762397502c3bc628a4205cf'),
  'name': 'Paul Dirac',
  'category': 'Physics',
  'year': 1933,
  'nationality': 'British',
  'sex': 'male'},
 {'_id': ObjectId('6762397502c3bc628a4205d0'),
  'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'}]

In [78]:
#turn mongo table back to python dictionary
def mongo_coll_to_dicts(dbname='test',collname='test',
                        query={},del_id=True,**kw):
    db = get_mongo_database(dbname,**kw)
    res = list(db[collname].find(query))

    if del_id:
        for r in res:
            r.pop('_id')
    return res

In [79]:
mongo_coll_to_dicts(DB_NOBEL_PRIZE,COLL_WINNERS)

[{'name': 'Albert Einstein',
  'category': 'Physics',
  'year': 1921,
  'nationality': 'Swiss',
  'sex': 'male'},
 {'name': 'Paul Dirac',
  'category': 'Physics',
  'year': 1933,
  'nationality': 'British',
  'sex': 'male'},
 {'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'}]

Dealing with DateTime and Complex Data

In [81]:
from datetime import datetime

d=datetime.now()
d.isoformat()

'2024-12-18T11:15:32.820638'

In [82]:
#convert above string to JSON/CSV to be read by JS
'''
d = new Date('2024-12-18T11:15:32.820638')
'''
#to read in python from JS, in JS state
'''
d.toISOString()
'''
#miliseconds might lose in the transition process

'\nd.toISOString()\n'

In [84]:
#sanity check 
from dateutil import parser
d = parser.parse('2024-12-18T11:15:32.820638Z')
d

datetime.datetime(2024, 12, 18, 11, 15, 32, 820638, tzinfo=tzutc())