In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'D:\\Python_Scripts\\DataViz_JS_Python\\Python'

In [3]:
os.chdir('D:/Python_Scripts/DataViz_JS_Python')
os.getcwd()

'D:\\Python_Scripts\\DataViz_JS_Python'

In [4]:
df = pd.read_json('data/nobel_winners.json')

In [5]:
df.head(10)

    category             name nationality     sex  year
0    Physics  Albert Einstein       Swiss    male  1921
1    Physics       Paul Dirac     British    male  1933
2  Chemistry      Marie Curie      Polish  female  1911

In [6]:
nwinners = pd.read_json('nobel_winners/nobel_winners.json')

In [7]:
nwinners.head(10)

,country,name,link_text
0,Algeria,Claude Cohen-Tannoudji,"Claude Cohen-Tannoudji *, Physics, 1997"
1,Algeria,Albert Camus,"Albert Camus *, Literature, 1957"
2,Argentina,César Milstein,"César Milstein *, Physiology or Medicine, 1984"
3,Argentina,Adolfo Pérez Esquivel,"Adolfo Pérez Esquivel , Peace, 1980"
4,Argentina,Luis Federico Leloir,"Luis Federico Leloir , born in France , Chemi..."
5,Argentina,Bernardo Houssay,"Bernardo Houssay , Physiology or Medicine, 1947"
6,Argentina,Carlos Saavedra Lamas,"Carlos Saavedra Lamas , Peace, 1936"
7,Armenia,Emmanuelle Charpentier,"Emmanuelle Charpentier **, born in France , C..."
8,Armenia,Ardem Patapoutian,"Ardem Patapoutian **, born in Lebanon , Physi..."
9,Armenia,Daron Acemoglu,"Daron Acemoglu **, born in Turkey , Economics..."

In [8]:
nwinners.columns

Index(['country', 'name', 'link_text'], dtype='object')

In [9]:
nwinners.index

RangeIndex(start=0, stop=1242, step=1)

In [10]:
df = df.set_index('name')
df

                  category nationality     sex  year
name
Albert Einstein    Physics       Swiss    male  1921
Paul Dirac         Physics     British    male  1933
Marie Curie      Chemistry      Polish  female  1911

In [11]:
df.loc['Albert Einstein']

category       Physics
nationality      Swiss
sex               male
year              1921
Name: Albert Einstein, dtype: object

In [12]:
df = df.reset_index()

In [13]:
df

              name   category nationality     sex  year
0  Albert Einstein    Physics       Swiss    male  1921
1       Paul Dirac    Physics     British    male  1933
2      Marie Curie  Chemistry      Polish  female  1911

In [14]:
df.iloc[2]

name           Marie Curie
category         Chemistry
nationality         Polish
sex                 female
year                  1911
Name: 2, dtype: object

In [17]:
gender_col = df.sex

In [18]:
type(gender_col)

pandas.core.series.Series

In [19]:
gender_col.head()

0      male
1      male
2    female
Name: sex, dtype: object

In [22]:
df_cat = df.groupby('category')
df_cat.groups.keys()

dict_keys(['Chemistry', 'Physics'])

In [23]:
phy_group = df_cat.get_group('Physics')
phy_group.head()

              name category nationality   sex  year
0  Albert Einstein  Physics       Swiss  male  1921
1       Paul Dirac  Physics     British  male  1933

In [24]:
df[df.category == 'Physics']

              name category nationality   sex  year
0  Albert Einstein  Physics       Swiss  male  1921
1       Paul Dirac  Physics     British  male  1933

In [25]:
nobel_winners = [
    {'category':'Physics',
     'name':'Albert Einstein',
     'nationality':'Swiss',
     'sex':'male',
     'year':1921},
    {'category':'Physics',
     'name':'Paul Dirac',
     'nationality':'British',
     'sex':'male',
     'year':1933},
    {'category':'Chemistry',
     'name':'Marie Curie',
     'nationality':'Polish',
     'sex':'female',
     'year':1911}
]

In [26]:
df_1=pd.DataFrame({
    'name':['Albert Einstein','Paul Dirac','Marie Curie'],
    'category':['Physics','Physics','Chemistry']
})
df_1

              name   category
0  Albert Einstein    Physics
1       Paul Dirac    Physics
2      Marie Curie  Chemistry

In [27]:
df_2 = pd.DataFrame.from_dict(nobel_winners)
df_2

    category             name nationality     sex  year
0    Physics  Albert Einstein       Swiss    male  1921
1    Physics       Paul Dirac     British    male  1933
2  Chemistry      Marie Curie      Polish  female  1911

In [28]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine('mysql://USER:PASSWORD@localhost/db')

In [34]:
with engine.connect() as connection:
    df = pd.read_sql('nobel_winners', connection)

OperationalError: (MySQLdb.OperationalError) (2002, "Can't connect to server on 'localhost' (10061)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [39]:
with engine.connect() as connection:
    df.to_sql('nobel_winners',connection, chunksize=500)
    #chunksize = row numbers

OperationalError: (MySQLdb.OperationalError) (2002, "Can't connect to server on 'localhost' (10061)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Connect to MongoDB

In [1]:
import pandas as pd
from pymongo import MongoClient

In [4]:
client = MongoClient()
db = client.nobel_prize
cursor = db.winners.find() #find all documents in winner collection
df = pd.DataFrame(list(cursor))

In [3]:
df

,_id,name,category,year,nationality,sex
0,6762397502c3bc628a4205ce,Albert Einstein,Physics,1921,Swiss,male
1,6762397502c3bc628a4205cf,Paul Dirac,Physics,1933,British,male
2,6762397502c3bc628a4205d0,Marie Curie,Chemistry,1911,Polish,female

In [6]:
#inset record to DB
#accessing MongoDB database
def get_mongo_database(db_name,host='localhost',
                       port=27017,username=None, password=None):
    '''get named database from MongoDB w/o authentication'''
    #make Mongo connection w/o authentication
    if username and password:
        #URI: uniform resource identifier)
        mongo_uri = 'mongodb://%s:%s@%s/%S'%(username, password,host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host,port)
    return conn[db_name]

In [15]:
db = get_mongo_database('nobel_prize')
records = df.to_dict('records')
for record in records:
    record.pop('_id', None)
db['winners'].insert_many(records)

InsertManyResult([ObjectId('677ba9eb77eaed15bd428309'), ObjectId('677ba9eb77eaed15bd42830a'), ObjectId('677ba9eb77eaed15bd42830b')], acknowledged=True)

In [18]:
def mongo_to_dataframe(db_name,
                       collection,
                       query,
                       host='localhost',
                       port=27017,
                       username=None,
                       password=None,
                       no_id=True):
    '''create a df from mongodb collection'''
    db = get_mongo_database(db_name,host,port,username,password)
    cursor = db[collection].find(query)
    df = pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    return df

In [19]:
def dataframe_to_mongo(df,
                       db_name,
                       collection,
                       query,
                       host='localhost',
                       port=27017,
                       username=None,
                       password=None):
    '''save a df to mongodb collection'''
    db = get_mongo_database(db_name,host,port,username,password)
    records = df.to_dict('records')
    db[collection].insert(records)

Series to DF

In [21]:
s= pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
s= pd.Series([1,2,3,4],index=['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [23]:
s = pd.Series({'a':1,'b':2,'c':3,'d':4})
s

a    1
b    2
c    3
d    4
dtype: int64

In [25]:
s = pd.Series({'a':1,'b':2,'c':3,'d':4}, index=['a','b']) #auto dispose unmatched index
s

a    1
b    2
dtype: int64

In [26]:
s= pd.Series(9,index=['a','b','c','d'])
s

a    9
b    9
c    9
d    9
dtype: int64

In [27]:
names = pd.Series([1,2,3,4])

In [28]:
category = pd.Series([6,7,8,9])

In [29]:
df = pd.concat([names, category],axis=1)
df

   0  1
0  1  6
1  2  7
2  3  8
3  4  9